body {
  background-color: #cccccc;
  font-family: verdana, helvetica, arial, sans-serif;
}

table {
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
}

input {
  width: 3em;
}

input.nameInput {
  width: 20em;
}

#marks {
  float: left;
}

#marks td {
  height: 25px;
}

#marks input {
  padding: 0px;
  height: 15px;
}

#inter {
  padding-left: 4px;
  overflow: hidden;
}

#inter td {
  height: 25px;
}
