body {
  background-color: #cccccc;
  font-family: verdana, helvetica, arial, sans-serif;
}

h1, h2 {
  border-bottom: 1px solid gray; 
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

input {
  width: 3em;
}

input.nameInput {
  width: 20em;
}
